@import "colors";
@import "dimensions";

/* https://qiita.com/YoshiyukiKato/items/666a66d1b57ce70c910b */

.App {
  min-height: 100vh;
  position: relative;
  padding-bottom: $footer_height;
  box-sizing: border-box;
}

header {
  background-color: $dark;
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: $header_height;
  display: flex;
  align-items: center;
  .logo {
    margin: 0 $logo_margin_horizon;
    p {
      display: inline-block;
      min-width: 100%;
      margin: 0;
      font-size: 1.3rem;
    }
  }
}

.content {
  color: $black;
  width: 100%;
  height: auto;
}

/* feature/memory */
@media screen and (min-width: $simple_box_list_media_min_width) {
  .simple-box_list {
    display: flex;
    align-items: flex-start;
  }
}

.simple-box {
  width: $simple_box_width;
  min-width: $simple_box_min_width;
  height: $simple_box_height;
  min-height: $simple_box_min_height;
  margin: $simple_box_margin_vertical $simple_box_margin_horizontal;
  text-align: center;
  border: $box_border_size solid $black;
  .box-title {
    font-size: $box_font_size;
    margin-bottom: 1rem;
    text-decoration: underline;
  }
}

.simple-list {
  .simple-listitem {
    &:hover {
      background-color: $gray;
    }
    .hint {
      text-decoration: none;
    }
  }
}

/*
** コンテンツが少ない時 => フッターを最下部にする
** コンテンツが多い時 => 最下部までスクロールするとフッターが表示される
** 参考: https://senoweb.jp/note/footer-position
*/
footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: $dark;
  height: $footer_height;
  display: flex;
  justify-content: center;
  align-items: center;

  p {
    margin: 0;
  }
}
